* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.btn {
    width: 12rem;
    height: 2.8rem;
    background: #2E3539;
    border: none;
    color: rgb(187, 185, 185);
    font-size: 1.1rem;
    font-weight: 100;
}

nav {
    z-index: 4;
    position: sticky;
    top: 0;
    padding: 2rem 10rem;
    width: 100%;
    height: 6rem;
    background: #000;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

nav h3 {
    font-weight: 100;
    font-size: 2rem;
}

nav ul li {
    font-weight: 100;
    font-size: 1.3rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    text-transform: uppercase;

}

.container1 .cover {
    text-align: center;
    padding: 0rem 4rem;
    background: #000;
    display: flex;
    justify-content: center;
    color: white;
    height: 759px;
}

.container1 .cover .box1 {
    padding: 12rem 5rem;
    text-align: start;
    /* background: red; */

}

.container1 .cover .box1 .btn {
    margin-top: 8rem;
    /* text-align: start; */

}

.container1 .box1 h1 {
    font-weight: 100;
    text-align: start;
    font-size: 4rem;
}

.container1 .cover .box2 {
    display: block;
    object-fit: cover;
    position: relative;
    bottom: -.5%;
    /* background: red; */
}
.container2{
    width: 100%;
    background: red;
    display: inline;
    justify-content: center

}
.container2 .cover1 .box1 h5{
    font-size: 1.2rem;
    padding-top: 2rem;
    font-weight: 100;
}
.container2 .cover1 .box1 h1{
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: 100;
}
.container2 .cover1 .box1 p{
    padding-top: 4rem;
    line-height: 2rem;
}
.container2 .cover1{
    display: flex;
    gap: 2.6rem;
    justify-content: center;
}
/* .container2 .cover1 .box{
    width: 621px;
    background: #000; 

}
*/

.container2 .cover2{
    height: 728px;
    display: flex;
    justify-content: center;
}
.container3{
    display: block;
    justify-content: center;
    text-align: center;
}
.container3 h2{
    text-align: center;
    font-size: 3rem;
    padding-top: 4rem;
    font-weight: 200;
}
.pro{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.pro .box img{
    width: 24rem;
}

.pro .box h1{
    font-weight: 200;
    font-size: 1.5rem;
}